vendor
storage/framework
config/app.php
config/database.php
_assets
bootstrap/compiled.php
vendor
public/appfiles
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.psd
sftp-config.json



